<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head-page :: head"></head>

</head>

<body id="page-top" style="background-color: #F8F9FC;">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments/side-bar :: fragment-bar" >
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/nav-bar :: fragment-nav">

            </nav>
            <!-- End of Topbar -->


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Atendimentos</h1>
                    <a href="/cadastro/chamado" class="btn btn-outline-primary"> Abrir Chamado </a>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Meus atendimentos</h6>
                        <span th:if="${#request.getParameter('msg')} !=null" class="alert alert-info par position-relative" role="alert" th:text="${#request.getParameter('msg')}"></span>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Em Andamento</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Em Atraso</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active m-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <table class="table table-striped display" id="table_id" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Status</th>
                                        <th>Problema</th>
                                        <th>Requisitante</th>
                                        <th>Data de abertura</th>
                                        <th>Setor Requisitante</th>
                                        <th> Ações </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="chamado : ${chamadosAndamento}">
                                        <td th:text="${chamado.id}"></td>
                                        <td th:text="${chamado.status}"></td>
                                        <td th:text="${chamado.problema.nome}"></td>
                                        <td th:text="${chamado.usuarioAbertura.nome}"></td>
                                        <td th:text="${chamado.data}"></td>
                                        <td th:text="${chamado.usuarioAbertura.setor.nome}"></td>
                                        <td>
                                            <a th:href="@{'/detalhes/chamado/' + ${chamado.id}}" class=" text-decoration-none ml-3">
                                            <span data-toggle="tooltip" data-placement="top" title="Detalhes do chamado" class="icon text-primary">
                                                <i class="fas fa-search"></i>
                                            </span>
                                            </a>
                                            <a data-toggle="modal" th:attr="data-target='#confirmModal'+${chamado.id}" th:href="@{'/finalizar-atendimento/' + ${chamado.id} + ${chamado.descricaoProblema} + ${chamado.solucao} }" class="text-decoration-none align-content-center" >
                                                <span class="icon text-success" data-toggle="tooltip" data-placement="top" title="Concluir Atendimento">
                                                <i class="fas fa-check p-1"></i>
                                            </span>
                                            </a>

                                            <!-- Modal -->
                                            <div class="modal fade" th:attr="id='confirmModal'+ ${chamado.id}" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="confirmModalLabel">Chamado</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Finalizar atendimento
                                                            <form th:action="@{'/finalizar-atendimento/' + ${chamado.id} }">
                                                                <div class="col-sm-12 mb-3 mb-sm-0 mt-2">
                                                                    <label class="form-label required">Descricao Do Problema:</label>
                                                                    <textarea th:name="descricao" class="form-control"
                                                                              id="exampleFormControlTextarea4"
                                                                              placeholder="Descricao do problema"
                                                                              rows="4"></textarea>
                                                                </div>
                                                                <div class="col-sm-12 mb-3 mb-sm-0 mt-2">
                                                                    <label class="form-label required">Solução:</label>
                                                                    <textarea th:name="solucao" class="form-control"
                                                                              id="exampleFormControlTextarea5"
                                                                              placeholder="Descricao da solução"
                                                                              rows="4"></textarea>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                                                    <button type="submit" href="newRecordForm.html" class="btn btn-primary">Confirmar</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal end -->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade m-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="table table-striped display" id="table_id2" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Status</th>
                                        <th>Problema</th>
                                        <th>Requisitante</th>
                                        <th>Data de abertura</th>
                                        <th>Setor Requisitante</th>
                                        <th> Ações </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="chamado : ${chamadosAtrasados}">
                                        <td th:text="${chamado.id}"></td>
                                        <td th:text="${chamado.status}"></td>
                                        <td th:text="${chamado.problema.nome}"></td>
                                        <td th:text="${chamado.usuarioAbertura.nome}"></td>
                                        <td th:text="${chamado.data}"></td>
                                        <td th:text="${chamado.usuarioAbertura.setor.nome}"></td>
                                        <td>
                                            <a th:href="@{'/detalhes/chamado/' + ${chamado.id}}" class=" text-decoration-none ml-3">
                                            <span data-toggle="tooltip" data-placement="top" title="Detalhes do chamado" class="icon text-primary">
                                                <i class="fas fa-search"></i>
                                            </span>
                                            </a>
                                            <a th:if="${chamado.status != 'CONCLUIDO'}"  th:href="@{'/finalizar-atendimento/' + ${chamado.id}}" class="text-decoration-none ml-3">
                                            <span  data-toggle="tooltip" data-placement="top" title="Encerrar chamado"class="icon text-success">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            </a>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                </div>

            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/footer :: fragment-footer" >

        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="fragments/nav-bar :: fragment-logout" >

</div>
</div>

<th:block th:replace="fragments/head-page :: body-final"></th:block>
</body>

</html>